* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0px;
}


h1{
	text-align: center;
	margin-bottom: 25px;
	margin-top: 20px;
	font-size: 140%;
}

section{
	color: white;
}

div{
	overflow: auto;
	position: relative;
	background-color: #355C7D;
}

h3{
	position: relative;
	text-align: center;
	border: 1px solid black;
	font-size: 100%;
	float: right;
}

p{
	padding: 5px;
	font-size: 80%;
	clear: both;
}

#nar{
	background-color: #F27D42;
}

#ds{
	background-color: #C38D9E;
	color: black;
}

#mha{
	background-color: #242582;
}



/********** Desktop View **********/
@media (min-width: 992px) {
  .col-lg-3 {
    float: left;
    border: 1px solid black;
    width: 29.33%;
    height: 230px;
    margin: 2%;
  }
}

/********** Tablet view **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12{
    float: left;
    border: 1px solid black;
  }
  .col-md-6 {
    width: 46%;
    margin: 2%;
    height: 230px;
  }
  .col-md-12 {
    width: 96%;
    margin: 2%;
  }
}

/********** Mobile view **********/
@media (max-width: 767px) {
  .col-sm-12{
    float: left;
    border: 1px solid black;
    width: 92%;
    margin: 2% 4% 2% 4%;
    height: 170px;
  }

}